Repository kunalkeshan/Shiryoku, pull requests merged in 2022-10, with the labels that each got.

#25 Added Leet Code
  src/data/resources.json
Labels: resources, hacktoberfest-accepted

#26 Zero to mastery resource
  src/data/resources.json
Labels: resources, hacktoberfest-accepted

#32 Feedback Modal Added
  src/App.tsx
  src/components/layouts/Footer.tsx
  src/components/reusable/FeedbackModal.tsx
  src/config/index.ts
  src/pages/Home/Home.tsx
Labels: enhancement, website, hacktoberfest-accepted

#35 added pluralsight
  src/data/resources.json
Labels: resources, hacktoberfest-accepted

#40 fix: image and text overflowing on the issues page
  src/components/Home/IssueCard.tsx
Labels: website, hacktoberfest-accepted

#41 Updated README.md
  README.md
  src/data/resources.json
Labels: documentation, resources, hacktoberfest-accepted

#42 Reources.json
  src/data/resources.json
  src/data/tags.json
  yarn.lock
Labels: resources

#43 Updated "SAVEE" in Resources.json
  src/data/resources.json
  src/data/tags.json
Labels: resources, hacktoberfest-accepted

#45 Updated "Fontjoy" in Resources.json
  src/data/resources.json
  src/data/tags.json
Labels: resources, hacktoberfest-accepted

#47 Added Feedback Form to Readme
  README.md
  assets/features/feedback.jpeg
Labels: documentation, hacktoberfest-accepted

#48 docs: added feedback link in table of contents
  README.md
Labels: documentation, hacktoberfest-accepted

#53 docs: add css resources
  src/data/resources.ts
Labels: resources, hacktoberfest-accepted

#54 DX: set up husky and prettier config for pre-commit formatting
  .husky/pre-commit
  .prettierrc
  package.json
  yarn.lock
Labels: enhancement, hacktoberfest-accepted

#55 doc: add react resources, enforce prettier config
  CONTRIBUTING.md
  README.md
  RESOURCES.md
  lib/index.ts
  lib/package.json
  public/index.html
  public/manifest.json
  src/App.test.tsx
  src/assets/lottie/coffee.json
  src/assets/lottie/contact-mail.json
  src/assets/lottie/page-not-found.json
  src/components/Home/Contribute/ContributeCard.tsx
  src/components/Home/Contribute/ContributorCard.tsx
  src/components/Home/IssueCard.tsx
  src/components/Home/NavigationItem.tsx
  src/components/Home/Resources/AllResources.tsx
  src/components/Home/Resources/Counter.tsx
  src/components/Home/Resources/HowToUseDialog.tsx
  src/components/Home/Resources/ResourceCard.tsx
  src/components/Home/Resources/Search.tsx
  src/components/Home/Resources/Tags.tsx
  src/components/Home/Roadmap/RoadmapCard.tsx
  src/components/Home/Support/BecomeAPatreon.jsx
  src/components/Home/Support/BuyMeACoffee.jsx
  src/components/layouts/Footer.tsx
  src/components/notifications/Dialog.tsx
  src/components/notifications/Message.tsx
  src/components/notifications/Notifications.tsx
  src/components/reusable/DefaultSkeleton.tsx
  src/components/reusable/FeedbackModal.tsx
  src/components/reusable/ProjectPartner.tsx
  src/components/reusable/Snackbar.tsx
  src/data/README.md
  src/data/notifications.ts
  src/data/resources.ts
  src/data/roadmaps.ts
  src/data/tags.ts
  src/index.css
  src/pages/Home/About.tsx
  src/pages/Home/Contact.tsx
  src/pages/Home/Contribute.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/Issues.tsx
  src/pages/Home/Resources.tsx
  src/pages/Home/Roadmaps/Roadmap.tsx
  src/pages/Home/Roadmaps/Roadmaps.tsx
  src/pages/Home/Support.tsx
  src/reportWebVitals.ts
  src/routes/AppRoutes.tsx
  src/store/features/app.ts
  src/store/index.ts
  src/types/index.d.ts
  src/utils/axios.ts
  src/utils/data.ts
  tsconfig.json
Labels: documentation, enhancement, hacktoberfest-accepted
