Repository kunalkeshan/Shiryoku, pull requests merged in 2023-10, with the labels that each got.

#78 New Resources Added
  .npmrc
  RESOURCES.md
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/components/layouts/Footer.tsx
  src/data/resources.ts
  src/data/tags.ts
Labels: enhancement, resources

#79 Added career related resources
  src/data/resources.ts
  src/data/tags.ts
Labels: enhancement, resources

#83 Updated Footer and Roadmap Cards
  src/components/Home/Roadmap/RoadmapCard.tsx
  src/components/layouts/Footer.tsx
Labels: enhancement, website

#85 resources
  package-lock.json
  src/data/resources.ts
  src/data/tags.ts
  yarn.lock
Labels: enhancement, resources

#88 Added resources
  src/data/resources.ts
Labels: enhancement, resources

#89 Updates resources.ts with few more resources for ml and data science stuff.
  src/data/resources.ts
  src/data/tags.ts
Labels: enhancement, resources

#92 feat: add Docsaurus, Unocss, Simulator, ineedaresume2.0 to resources.ts
  src/data/resources.ts
Labels: enhancement, resources, hacktoberfest-accepted
